html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
}

.form {
    max-width: 450px;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0px;
}

.title {
    font-size: 60px;
    text-align: center;
}