html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
}

.form {
    max-width: 450px;
}

.navbar {
    position: absolute;
    width: 100%;
    top: 0px;
}

.title {
    font-size: 60px;
    text-align: center;
}

@media (max-height: 768px) {
    .title {
        padding-top: 300px;
    }
}

@media (max-height: 500px) {
    .title {
        padding-top: 500px;
    }
}